*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: lightgray;
}

.logo-section{
    margin-top: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    margin-bottom: 100px;
    
}
.logo-img{
    width: 100px;
    height: 100px;
    vertical-align: middle;

}
.logo-text{
    display: inline;
    font-size: 500%;
    vertical-align: middle;
}
.container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding-left: 60px;
    border-radius: 10px;
    
}
.container.list{
    height: 800px;
    margin-top: 10px;
}
.button.container{
    margin-top: 20px;
    height: 60px;
    padding: auto;
   
    vertical-align: middle;
}
.add.button{
    width: 10%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
    text-transform: uppercase;
    
}
.title-list{
    font-size: xx-large;
    font-weight: bold;
    
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}
.list{
    font-size: x-large;
    list-style-type: none;
    margin-block: 0;
    line-height: 50px;
    font-style: oblique;
    text-transform: capitalize;
    font-weight: 500;
}

.cross{
    color: red;
}
.check{
    color: green;
}
.marker{
    background-color: aqua;
    border-radius: 20%;
    font-size: small;
    padding: 5px;
    color: white;
    margin: 10px;
}
.editorial{
    background-color: blueviolet;
}
.sales{
    background-color: gray;
}
.recruiting{
    background-color: red;
}
.social{
    background-color: green;
}
.mobile{
    background-color: blue;
}