*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* imposta il colore dello sfondo */
body{
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

/* sezione logo e testo logo */
.logo-section{
    margin-top: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: white;
    margin-bottom: 100px;
    
}

/* logo img  */
.logo-img{
    width: 100px;
    height: 100px;
    vertical-align: middle;

}

/* testo del logo 3 */
.logo-text{
    display: inline;
    font-size: 500%;
    vertical-align: middle;
}

/* container principale per centrare tutto */
.container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding-left: 60px;
    border-radius: 10px;
    
}

/* contenitore x la lista */
.container.list{
    height: 800px;
    margin-top: 10px;
}

/* contenitore bottoni */
.button.container{
    margin-top: 20px;
    height: 60px;
    padding: auto;
   
    vertical-align: middle;
}

/* bottoni */
.add.button{
    width: 10%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
    text-transform: uppercase;
    
}

/* titolo delle liste */
.title-list{
    font-size: xx-large;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* liste  */
.list{
    font-size: x-large;
    list-style-type: none;
    margin-block: 0;
    line-height: 50px;
    font-style: oblique;
    text-transform: capitalize;
    font-weight: 500;
}

/* simboli cambio colore */
.simbols.arrow{
    font-style: normal;
    
}
.cross{
    color: red;
}
.check{
    color: green;
}

/* parole evidenziate  */
.marker{
    background-color: aqua;
    border-radius: 20%;
    font-size: small;
    padding: 5px;
    color: white;
    margin: 10px;
}
.editorial.marker{
    background-color: blueviolet;
}
.sales.marker{
    background-color: gray;
}
.recruiting.marker{
    background-color: red;
}
.social.marker{
    background-color: green;
}
.mobile.marker{
    background-color: blue;
}